*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  height: 100%;
}

:root {
  --clr-primary: hsl(325, 50%, 35%);
  --clr-secondary: hsl(327, 58%, 73%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-black: hsl(0, 0%, 0%);
}

body {
  margin: 0;
  line-height: 1.5;
  min-height: 100%;
}

p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
  max-width: 65ch;
  margin-block-start: 0;
}

.blockquote {
  padding: 1rem;
  background-color: var(--clr-secondary);
  border-radius: 1rem;
  color: var(--clr-white);
  margin: 0;
}

.blockquote > blockquote {
  margin-inline: 0;
  margin-block: 0 1rem;
}

.header {
  color: var(--clr-white);
  background-color: var(--clr-primary);
}

.header__title {
  padding: 1rem;
  margin-block: 0;
}

.navigation {
  background-color: var(--clr-secondary);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
}

.navigation__list {
  list-style: none;
  margin: 0;
  padding-inline-start: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-flow: row dense;
  justify-content: flex-start;
  width: min(100%, 800px);
}

.navigation__link {
  font-weight: 600;
  display: block;
  padding-block: 0.5rem;
  padding-inline: 1rem;
  text-align: center;
  text-decoration: none;
  color: var(--clr-primary);
  border-bottom: 1px solid var(--clr-primary);
}

.content {
  padding-block: 1rem;
}

.footer {
  padding-inline: 1rem;
  padding-block: 0.5rem;
  color: var(--clr-white);
  background-color: var(--clr-primary);
  text-align: center;
}

.container {
  padding-inline: 1rem;
  width: min(100%, 1000px);
  margin-inline: auto;
}
